@import '../../../styles.scss';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px;
  .header-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    h2 {
      font-size: 3vw;
      margin:  1.5rem 0;
    }
    .filter-container {
      display: flex;
      align-items: center;
    }
  }
}
