<mat-card class="card__container">
  <div class="tariff-number">
    <h3>1</h3>
  </div>
  <h3 class="tariff-name">{{tariffItem.name}}</h3>
  <div class="speed">
    <h4>Download</h4>
    <div class="speed__download">
      <span>
        <mat-icon>arrow_downward</mat-icon>{{tariffItem.downloadSpeed}}
      </span>
      <span>Mbits/s</span>
    </div>
    <h4>Upload</h4>
    <div class="speed__upload">
      <span>
        <mat-icon>arrow_upward</mat-icon>{{tariffItem.uploadSpeed}}
      </span>
      <span>Mbits/s</span>
    </div>
  </div>
  <div class="benefits-container">
    <ul>
      <li *ngFor="let benefit of tariffItem.benefits"><mat-icon>check</mat-icon> <span>{{benefit}}</span> </li>
    </ul>
  </div>
  <div class="price-container">
    <h2>{{tariffItem.price}} €</h2>
    <button>
      <span>To tariff</span>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</mat-card>
